<div class="bg-note-bg border-l-4 border-note-border p-2.5 mt-4">
    <strong>Font Attribution:</strong><br />
    This example uses <strong>PragmataPro</strong> by Fabrizio Schiavi.<br />
    Available at <a href="https://fsd.it/shop/fonts/pragmatapro/" target="_blank" class="text-note-border hover:underline">https://fsd.it/shop/fonts/pragmatapro/</a>
</div>
