            </div>

            <a href="index.html" class="inline-block mt-5 px-5 py-2.5 bg-surface border-2 border-accent text-white no-underline transition-all duration-300 hover:-translate-y-0.5">
                &larr; Back to Examples</a>
        </div>

        <script type="module" src="{{scriptFile}}.ts"></script>

        <noscript>
            <div class="bg-red-500/30 border-l-4 border-red-500 p-4 mt-4">
                <strong>Error:</strong> JavaScript is required to run this example.
            </div>
        </noscript>
    </body>
</html>
